*{
    font-family: monospace;

    
}
button,input,textarea,select{
    font :inherit;
}
body {
    font-size : 22px ;
    border: 4px solid black;
    background:papayawhip ;
}


p{
    color: red;
}

.soham{
    color: green;
}

#second{
    font-style: italic;
}

h1,h2{
    color: brown;
}

.highlight {

    text-transform: uppercase;
    background-color: gold;
}